<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.mybatis.dao.ResourceDao">

    <select id="getResources" resultType="com.james.model.ResourceModel">
        SELECT * FROM RESOURCES
    </select>

    <select id="getResourcesByRole" parameterType="com.james.model.RoleModel" resultType="com.james.model.ResourceModel">
        SELECT * FROM RESOURCES WHERE ID in (
          SELECT RESOURCE_ID FROM ROLE_RESOURCE WHERE ROLE_ID = #{id}
        )
    </select>
</mapper>