<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 认证成功后的处理类 -->
    <beans:bean id="authSuccess" class="com.james.system.security.impl.AuthenticationSuccessHandlerImpl"/>


    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <beans:bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <beans:property name="locations">
            <beans:list>
                <beans:value>/WEB-INF/config/config.properties</beans:value>
                <beans:value>/WEB-INF/config/jdbc.properties</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <beans:property name="driverClassName" value="${jdbc.driver.class.name}"/>
        <beans:property name="url" value="${jdbc.url}"/>
        <beans:property name="username" value="${jdbc.username}"/>
        <beans:property name="password" value="${jdbc.password}"/>
    </beans:bean>

    <beans:bean id="userDetailsService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <beans:property name="dataSource" ref="dataSource" />
    </beans:bean>

    <beans:bean id="customUserDetailsService" class="com.james.system.security.impl.CustomUserDetailsServiceImpl">
    </beans:bean>

    <beans:bean id="securityMetadataSource" class="com.james.system.security.impl.CustomInvocationSecurityMetadataSourceImpl">
    </beans:bean>

    <beans:bean id="accessDecisionManager" class="com.james.system.security.impl.CustomAccessDecisionManagerImpl">
    </beans:bean>


    <beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
        <beans:constructor-arg  name="authenticationEntryPoint">
            <beans:bean class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
                <beans:constructor-arg  name="loginFormUrl" value="/login.jsp"/>
            </beans:bean>
        </beans:constructor-arg>
        <beans:property name="accessDeniedHandler">
            <beans:bean class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
                <beans:property name="errorPage" value="/access_denied.jsp" />
            </beans:bean>
        </beans:property>
    </beans:bean>

    <!-- 配置认证管理器 -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="customUserDetailsService"/>
    </authentication-manager>

    <beans:bean id="customFilterSecurityInterceptor" class="com.james.system.security.impl.CustomFilterSecurityInterceptorImpl">
        <beans:property name="securityMetadataSource" ref="securityMetadataSource"/>
        <beans:property name="accessDecisionManager" ref="accessDecisionManager"/>
        <beans:property name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>

    <!-- AuthenticationEntryPoint，引导用户进行登录 -->
    <beans:bean id="authEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg name="loginFormUrl" value="/login.jsp"/>
    </beans:bean>

    <beans:bean id="authenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="usernameParameter" value="username"/>
        <beans:property name="passwordParameter" value="password"/>
        <beans:property name="authenticationSuccessHandler"  ref="authSuccess"/>
        <beans:property name="authenticationFailureHandler">
            <beans:bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
                <beans:property name="defaultFailureUrl"  value="/login.jsp?error=login_failure"/>
            </beans:bean>
        </beans:property>
        <beans:property name="filterProcessesUrl" value="/login.do" />
    </beans:bean>

    <http entry-point-ref="authEntryPoint">
        <logout logout-url="/logout.do"  invalidate-session="true" logout-success-url="/login.jsp" delete-cookies="JSESSIONID"/>
        <custom-filter ref="authenticationFilter" before="FORM_LOGIN_FILTER" />
        <!--添加自定义的过滤器 放在FILTER_SECURITY_INTERCEPTOR之前有效  -->
        <custom-filter ref="customFilterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />
        <custom-filter ref="exceptionTranslationFilter" after="EXCEPTION_TRANSLATION_FILTER"/>
    </http>

</beans:beans>